.header {
    background-color: #F05080; 
    padding: 50px; 
    display: flex; 
    align-items: center; 
  }
  
.navTitulo {
    font-family: Caveat; 
    font-size: 20px; 
    color: #ffffff; 
    margin-right: 150px; 
  }

.button {
    background-color: #ffffff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    color: #F05080; 
    font-family: Inter, sans-serif; 
    font-size: 16px; 
    cursor: pointer; 
  }

  .navsign {
    margin-right: 30px; 
    color: #ffffff; 

  }
  
  .navText {
    font-family: Inter, sans-serif; 
    font-size: 16px; 
    color: #ffffff; 
    margin-right: 250px; 
  }
  
  .navText:last-child {
    margin-right: 80px; 
  }